In [1]:
import numpy as np
import pandas as pd

In [3]:
yt_df = pd.read_csv("../0_data/06_youtube/ab_test_data.csv")

row_count, col_count = yt_df.shape

display(yt_df.head(3))
print(f"Dataset has {row_count} rows and {col_count} columns.")

         date  customer_id  premium  watch_time_hrs customer_segmnt
0  2018-09-11          402        0        7.173618         control
1  2018-02-28          227        0        0.836170         control
2  2018-10-18          812        1        4.402078       treatment

Dataset has 19960 rows and 5 columns

In [9]:
yt_ct = (
    pd.crosstab(
        index=yt_df["premium"],
        columns=yt_df["customer_segmnt"],
        margins=True,
        margins_name="Total",
        normalize=True,
    )
    .multiply(100)
    .round(2)
)
yt_ct

customer_segmnt  control  treatment   Total
premium
0                  42.38      39.95   82.33
1                   7.59      10.08   17.67
Total              49.96      50.04  100.00